.div {
    background-color: #fff;
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    
}

.div-2 {
    background-color: var(--backgrounds-white-ffffff, #fff);
    display: flex;
    width: 100%;
    gap: 450px;
    text-align: right;
    padding: 10px 78px;
    margin-left: 80px;
}

@media (max-width: 991px) {
    .div-2 {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
    }
}

.img {
    aspect-ratio: 5.56;
    object-fit: auto;
    object-position: center;
    width: 149px;
    max-width: 100%;
    margin: auto 0;
}

.div-3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 991px) {
    .div-3 {
        max-width: 100%;
        flex-wrap: wrap;
    }
}

.div-4 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 15px;
    color: #4a556c;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 160%;
    margin: auto 0;
}

.div-5 {
    font-family: Kumbh Sans, sans-serif;
    flex-grow: 1;
}

.div-6 {
    font-family: Kumbh Sans, sans-serif;
}

.div-7 {
    color: var(--Gray-800, #4a556c);
    font-family: Kumbh Sans, sans-serif;
}

.div-8 {
    color: var(--Gray-800, #4a556c);
    font-family: Kumbh Sans, sans-serif;
    flex-grow: 1;
    white-space: nowrap;
}

@media (max-width: 991px) {
    .div-8 {
        white-space: initial;
    }
}

.div-9 {
    justify-content: center;
    border-radius: 4px;
    background-color: #20ad96;
    flex-grow: 1;
    color: #fff;
    white-space: nowrap;
    padding: 11px 16px;
    font: 600 14px/130% Kumbh Sans, sans-serif;
}

@media (max-width: 991px) {
    .div-9 {
        white-space: initial;
    }
}

.div-10 {
    background-color: #faf8f6;
    width: 53%;
    padding: 50px 80px 50px 34px;
    margin-left: 130px;
    
    
}

@media (max-width: 991px) {
    .div-10 {
        max-width: 100%;
        padding: 0 20px;
    }
}

.div-11 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-11 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 72%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column {
        width: 100%;
    }
}

.div-12 {
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    font-weight: 400;
}

@media (max-width: 991px) {
    .div-12 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.img-2 {
    aspect-ratio: 5.88;
    object-fit: auto;
    object-position: center;
    width: 101px;
    fill: #20ad96;
    max-width: 100%;
}

.div-13 {
    display: flex;
    margin-top: 72px;
    padding-left: 51px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-13 {
        max-width: 100%;
        padding-left: 20px;
        margin-top: 40px;
    }
}

.div-14 {
    color: var(--Gray-800, #4a556c);
    letter-spacing: -0.32px;
    font: 16px/150% Kumbh Sans, sans-serif;
}

@media (max-width: 991px) {
    .div-14 {
        max-width: 100%;
    }
}

.div-15 {
    color: #333461;
    letter-spacing: -0.72px;
    align-self: center;
    margin-top: 25px;
    font: 800 72px/86px Kumbh Sans, sans-serif;
}

@media (max-width: 991px) {
    .div-15 {
        max-width: 100%;
        font-size: 40px;
        line-height: 53px;
    }
}

.div-16 {
    color: #4a556c;
    margin-top: 24px;
    font: 18px/29px Kumbh Sans, sans-serif;
}

@media (max-width: 991px) {
    .div-16 {
        max-width: 100%;
    }
}

.div-17 {
    justify-content: center;
    border-radius: 10px;
    background-color: #20ad96;
    align-self: start;
    margin-top: 22px;
    color: var(--White, #fff);
    white-space: nowrap;
    padding: 9px 45px;
    font: 14px/24px Kumbh Sans, sans-serif;
}

@media (max-width: 991px) {
    .div-17 {
        white-space: initial;
        padding: 0 20px;
    }
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 28%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-2 {
        width: 100%;
    }
}

.div-18 {
    box-shadow: 0px 16px 96px 0px rgba(111, 124, 144, 0.16);
    background-color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    margin: 5px auto 0;
    padding: 24px;
}

@media (max-width: 991px) {
    .div-18 {
        margin-top: 40px;
        white-space: initial;
        padding: 0 20px;
    }
}

.div-19 {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}

@media (max-width: 991px) {
    .div-19 {
        white-space: initial;
    }
}

.img-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 66px;
}

.div-20 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    margin: auto 0;
}

@media (max-width: 991px) {
    .div-20 {
        white-space: initial;
    }
}

.div-21 {
    color: #333461;
    letter-spacing: -0.72px;
    font: 24px/133% AvertaStd-Black, -apple-system, Roboto, Helvetica,
        sans-serif;
}

.div-22 {
    color: #4a556c;
    letter-spacing: -0.12px;
    margin-top: 14px;
    font: 12px/200% AvertaStd-Regular, -apple-system, Roboto, Helvetica,
        sans-serif;
}

@media (max-width: 991px) {
    .div-22 {
        white-space: initial;
    }
}

.div-23 {
    align-self: center;
    display: flex;
    margin-top: 110px;
    width: 100%;
    max-width: 1140px;
    flex-direction: column;
}

@media (max-width: 991px) {
    .div-23 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.img-4 {
    aspect-ratio: 5.88;
    object-fit: auto;
    object-position: center;
    width: 101px;
    height: 40px;
    fill: #3f3a64;
    max-width: 100%;
}

.div-24 {
    margin-top: 22px;
}

@media (max-width: 991px) {
    .div-24 {
        max-width: 100%;
    }
}

.div-25 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-25 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-3 {
        width: 100%;
    }
}

.div-26 {
    color: #333461;
    letter-spacing: -0.48px;
    margin-top: 20px;
    font: 800 48px/56px Kumbh Sans, sans-serif;
}

@media (max-width: 991px) {
    .div-26 {
        max-width: 100%;
        margin-top: 40px;
        font-size: 40px;
        line-height: 52px;
    }
}